rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /users {
   		allow read, write: if false;
  	}
    match /logs {
   		allow read, write: if false;
  	}
    match /malicious {
   		allow read, write: if false;
  	}
  	match /streams {
   		allow read, write: if false;
  	}
    match /settings {
      allow read, write: if false;
    }
  }
}
